@font-face {
    font-family: Lato-Regular;
    src: url('Lato-Regular.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
    /*scrollbar-face-color: #202529;
    scrollbar-base-color: #202529;*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato-Regular;
}

body {
    display: inline;
    color: #202529;
}

header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
    background-color: #202529;
}

#menu {
    display: flex;
    height: 60px;
    width: 100%;
}

#logo {
    height: 40px;
    width: 40px;
}

.item {
    padding: 20px;
    text-decoration: none;
    font-weight: 400;
    font-size: 12pt;
    color: #FFFFFF;
}

.item:hover {
    background-color: #6A757D;
}

#home {
    display: flex;
    flex-direction: column;
    height: 660px;
    width: 100%;
    background-image: url(./Assets/Background.png);
    background-size: 100%;
    text-align: center;
    justify-content: center;
}

#homeText {
    margin-top: 60px;
}

h1 {
    font-size: 25pt;
    font-weight: 600;
}

h3 {
    font-size: 20pt;
    font-weight: 500;
}

#about {
    display: flex;
    flex-direction: column;
    margin: 200px 80px 0px 80px;
}

#aboutContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

#aboutDescription {
    font-weight: 300;
    font-size: 14pt;
}

#button {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

button {
    width: 174px;
    height: 40px;
    background-color: #202529;
    border-color: #202529;
    color: #FFFFFF;
    box-shadow: inset 0 0 0 0 #F2F1F0;
    transition: ease-out 1.0s;
    /*border: none;*/
    border-radius: 10px;
    font-size: 16pt;
    font-weight: 400;
}

button:hover {
    box-shadow: inset 300px 0 0 0 #F2F1F0;
    color: #202529;
    border-color: #202529;
    /*border: none;
    background-color: #FFFFFF;
    color: #202529;*/
}

.marked {
    font-weight: bold;
}

#aboutPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 295px;
    width: 555px;
    background-color: #202529;
    color: #FFFFFF;
    font-size: 20pt;
    font-weight: 500;
}

#skills {
    margin: 200px 80px 0px 80px;
}

#icons {
    margin-top: 80px;
}

.icon {
    height: 50px;
}

#group1 {
    display: flex;
    justify-content: space-around;
}

#group2 {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

#portfolio {
    margin: 200px 80px 0px 80px;
}

#projects {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 321px;
    width: 363px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

#guruyu:hover {
    background-color: #202529;
    transition: ease-out 200ms;
}

#darsenero:hover {
    background-color: #202529;
    transition: ease-out 200ms;
}

#empty:hover {
    background-color: #202529;
    transition: ease-out 200ms;
    color: #FFFFFF;
}

.projectLogo {
    height: 200px;
}

#contact {
    margin: 200px 80px 0px 80px;
}

#social {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.social {
    height: 30px;
    margin: 0px 80px 0px 80px;
}

#contactText {
    color: #6A757D;
    margin: 80px 0px 20px 0px;
    font-weight: 100;
    font-size: 10pt;
    text-align: center;
}